/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul,
ol {
    list-style: none;
}


a {
    color: currentColor;
    text-decoration: none;
}
body{
    background-color: #F6F5F3;
    font-family: "Poppins", sans-serif;
}

/* DESKTOP VERSION */

/* NAVBAR */
nav{
    background-color: white;
}
.logo_title{
    color:#FF9614 ;
    padding: 10px;
    text-shadow: 1px 1px 5px black;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 2rem;
}
.dessert_name{
    color: #4E3969;
    margin-top: 10px;
}
.dessert{
    padding-top: 30px;
}
.dessert p{
    font-size: 12px;
    color: #B7B6BA;
}
.col-8{
    width: calc((100%*8)/12);
}
.col-4{
    width: calc((100*4)/12);
    flex: 0 0 33.33%;
}
.col-20{
    width: 20%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    padding: 3px 1px;
    box-shadow: 1px 1px 1px  rgb(223, 217, 217);
    margin-right: 30px;

}
.social .row{
    flex-wrap: nowrap;
}
.col-8 img{
    max-width: 100%;
}
.description{
    background-color: white;
    border-radius: 1px;
    box-shadow: 0.2px 0.2px 10px rgb(223, 217, 217);
    max-width: 100%;
}
.description strong,h3{
    color: #4E3969;
}
.description h3{
    font-size: 16px;
}
.description p{
    font-size: 10px;
    line-height: 20px;
}
.social{
    padding-top: 15px;
}
.col-20 img{
    width: 18px;
    align-items: center;
}
.col-20 a{
    font-size: 12px;
    font-weight: bold;
}
/* TABLET VERSION */

/* NAVBAR */
/* ----- */

/* HERO */
@media (max-width:991.99px) {
  .col-12 h1{
    font-size: 18px;
  }  
  .row{
    flex-wrap: wrap;
  }
    .col-8{
        flex: 0 0 100%;
        max-width: 100%;
        
  }
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
    }
    .description h3 {
        margin-bottom: 20px;
    }
    .col-20 a{
        display: none;
    }
}

/* MOBILE VERSION */

/* NAVBAR */
@media (max-width:767.99px) {
  .logo_title{
    display: flex;
    justify-content: center;
  }  

/* HERO */
  .description h3 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.col-4{
    padding-left: 20px;
    padding-bottom: 20px;
}
.col-20{
    padding: 4px 0px;
}
}
